<!DOCTYPE html>
<html>
<head>
  <title>FriendCircles</title>
  <%= csrf_meta_tags %>
</head>
<body>
<% if signed_in? %>
  Welcome, <%= current_user.email %>!

  <br>

  <form action="<%= session_url %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">

    <%= auth_token %>

    <button>Sign out</button>
  </form>
<% else %>
  <a href="<%= new_session_url %>">Sign In</a>  |
  <a href="<%= new_user_url %>">Sign Up</a>
<% end %>
<hr>
<% if flash.now[:errors] %>
  <ul>
  <% flash.now[:errors].each do |message| %>
    <li><%= message %></li>
  <% end %>
  </ul>
<% end %>

<%= yield %>

<%  current_path = request.env['PATH_INFO'] %>

<hr>

<% if signed_in? %>
  <ul>
    <% unless current_path == home_path %>
      <li><a href="<%= home_url %>">Home</a></li>
    <% end %>
    <% unless current_path == feed_path %>
      <li><a href="<%= feed_url %>">My Feed</a></li>
    <% end %>
    <% unless current_path == new_post_path %>
      <li><a href="<%= new_post_url %>">New Post</a></li>
    <% end %>
    <% unless current_path == new_circle_path %>
      <li><a href="<%= new_circle_url %>">New Circle</a></li>
    <% end %>
      <li><a href="<%= forgot_password_url %>">Reset your Password</a></li>
  </ul>
<% end %>

</body>
</html>
